@primary-color: #1890ff; // 全局主色
@link-color: #1890ff; // 链接色
@success-color: #52c41a; // 成功色
@warn-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@font-size-base: 14px; // 主字号
@heading-color: rgba(0, 0, 0, 0.85); // 标题色
@text-color: rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base: 2px; // 组件/浮层圆角
@border-color-base: #d9d9d9; // 边框色
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影

@font-size-sm: @font-size-base; // 小字号
@font-size-md: @font-size-base + 2px; // 中字号
@font-size-lg: @font-size-base + 4px; // 大字号

@padding-horizontal-sm: 12px;
@padding-horizontal-md: 15px;
@padding-horizontal-lg: 20px;

@padding-vertical-sm: 2px;
@padding-vertical-md: 4px;
@padding-vertical-lg: 8px;

@border-radius-sm: @border-radius-base;
@border-radius-md: @border-radius-base + 3px;
@border-radius-lg: @border-radius-base + 6px;
